
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #42424200;
}

/* Navbar */
.navbar {
    background: rgba(54, 54, 54, 0);
    backdrop-filter: blur(15px);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    max-width: 1200px;
    margin: auto;
}

/* Brand */
.navbar-brand {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    color: #333;
    transition: transform 0.3s ease;
}

.navbar-brand span {
    color: #007bff;
}

.navbar-brand:hover {
    transform: scale(1.05);
}

/* Menu chính */
.navbar-menu {
    display: flex;
    list-style: none;
    gap: 15px;
}
.navbar-item {
    position: relative;
}
.navbar-item > a {
    display: inline-block;
    text-decoration: none;
    color: #007bff;
    font-weight: 500;
    padding: 8px 18px; 
    background-color: rgba(0, 123, 255, 0.05);
    border: 1.5px solid rgba(255, 255, 255, 0.726); 
    border-radius: 8px; 
    transition: all 0.3s ease;
}

/* effect khi hover */
.navbar-item:hover > a {
    background-color: #007bff; 
    color: #ffffff;
    border-color: #007bff;
    box-shadow: 0 4px 12px rgba(0, 123, 255, 0.25);
    transform: translateY(-2px);
}

/* Dropdown Menu */
.dropdown-menu {
    position: absolute;
    top: 150%;
    left: 0;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    min-width: 200px;
    list-style: none;
    padding: 15px 10px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    top: 120%;
}

/* DROPDOWN ITEM */
.dropdown-menu li {
    margin-bottom: 8px;
}

.dropdown-menu li:last-child {
    margin-bottom: 0;
}

.dropdown-menu li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #444;
    background-color: #f4f7f6; /* Nền box xám nhạt */
    border: 1px solid #e2e8f0; /* Viền xám nhạt */
    border-radius: 6px; /* Bo góc box */
    transition: all 0.3s ease;
}

/* khi hover vào box dropdown */
.dropdown-menu li a:hover {
    background: #007bff;
    color: #ffffff;
    border-color: #007bff;
    padding-left: 20px;
    box-shadow: 0 2px 8px rgba(0, 123, 255, 0.2);
}